:root {
    --main-bg-color: #333;
    --main-color: #ddd;
    --max-width: 1024px;
}

/**************************** common ****************************/
body, header, main, p, h2, h3, button, article {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: circle;
}
button {
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
body {
    background-color: var(--main-bg-color);
}
/**************************** app ****************************/
.app {
    width: 100%;
    max-width: var(--max-width);
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24px;
    margin: 0 auto;
    position: relative;
}

/**************************** header ****************************/
.header {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    width: 100%;
    max-width: var(--max-width);
    height: 60px;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**************************** search-input ****************************/
.search-input {
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 40px;
    border: 1px solid var(--main-color);
    font: inherit;
    font-size: 26px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

/**************************** button ****************************/
.button {
    padding: 5px;
}
.button--percon-icon {
    width: 40px;
    height: 40px;
    position: relative;
}
.button--percon-icon::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 13px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.button--percon-icon::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 9px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
}

/**************************** main ****************************/
.main {
    width: 100%;
    margin-top: 60px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

/**************************** book ****************************/
.book {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.book__cover {
    width: 200px;
    height: auto;
}
.book__title, .book__author {
    text-align: center;
    font-size: 1.2em;
}
.book__text {
    margin-top: 5px;
}
.book__text--left {
    align-self: flex-start;
    margin-left: 20px;
}
.book__text--line {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}
.book__date {
    font-size: 0.9em;
    margin-top: 10px;
}

/**************************** booklist ****************************/
.booklist {
    text-align: left;
    padding: 0 20px;
}
.booklist__book {
    list-style-type: none;
    margin-top: 10px;
}
.booklist__book button {
    text-align: left;
}